{% extends 'base/baseseguidores.html' %}

{% load staticfiles %}

{% block canales %}
                        <div class="panel-body">
                             <div class="row">
                                <div class="col-md-12">
                                    <h1 class="page-head-line">Personas que puedes seguir</h1>
                                    

                                </div>
                            </div>   
                               <div class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <div class="jumbotron">
                                            
                                            <div class="user-img pull-left">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 60px; height: 60px" />
                                            </div>
                                            <h2 class="page-head-line">Usuario</h2>
                                            
                                            <h5 class="page-subhead-line">Ing en informática Ucla. Promo 56...</h5>
                                            
                                            <a class="btn btn-success" role="button">Seguir</a>
                                            <a class="btn btn-info" role="button">Mensaje</a>
                                            
                                    </div>

                                    <div class="jumbotron">
                                           <div class="user-img pull-left">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 60px; height: 60px" />
                                            </div>
                                            <h2 class="page-head-line">Usuario</h2>
                                            
                                            <h5 class="page-subhead-line">Ing en informática Ucla. Promo 56...</h5>
                                            
                                            <a class="btn btn-success" role="button">Seguir</a>
                                            <a class="btn btn-info" role="button">Mensaje</a>
                                    </div>

                                    <div class="jumbotron">
                                           <div class="user-img pull-left">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 60px; height: 60px" />
                                            </div>
                                            <h2 class="page-head-line">Usuario</h2>
                                            
                                            <h5 class="page-subhead-line">Ing en informática Ucla. Promo 56...</h5>
                                            
                                            <a class="btn btn-success" role="button">Seguir</a>
                                            <a class="btn btn-info" role="button">Mensaje</a>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <div class="jumbotron">
                                            <div class="user-img pull-left">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 60px; height: 60px" />
                                            </div>
                                            <h2 class="page-head-line">Usuario</h2>
                                            
                                            <h5 class="page-subhead-line">Ing en informática Ucla. Promo 56...</h5>
                                            
                                            <a class="btn btn-success" role="button">Seguir</a>
                                            <a class="btn btn-info" role="button">Mensaje</a>
                                    </div>

                                    <div class="jumbotron">
                                           <div class="user-img pull-left">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 60px; height: 60px" />
                                            </div>
                                            <h2 class="page-head-line">Usuario</h2>
                                            
                                            <h5 class="page-subhead-line">Ing en informática Ucla. Promo 56...</h5>
                                            
                                            <a class="btn btn-success" role="button">Seguir</a>
                                            <a class="btn btn-info" role="button">Mensaje</a>
                                    </div>
                                
                                </div>
                                </div>
 
                        
                           
    
                        </div>
{% endblock %}