{% extends 'base/baseperfil.html' %}

{% load staticfiles %}

{% block perfil %}

				<div class="panel-body">
                               <div class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <div class="jumbotron">
                                            <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i>
                                            </h4>
                                            <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                               <a><h5><i class="fa fa-corazon"></i>Like</h5></a> 
                                                                  
                                                </div>
                                            </div>
                                             <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                                 
                                                  <a><h5><i class="fa fa"></i>Comentarios</h5></a>                      
                                                </div>
                                            </div>
                                            <div class="user-img pull-right">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 40px; height: 40px" />
                                            </div>
                                            <h5 class="pull-right"><strong class="c-black">José herrera </strong></h5>  
                                    </div>

                                    <div class="jumbotron">
                                            <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i>
                                            </h4>
                                            <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                               <a><h5><i class="fa fa-corazon"></i>Like</h5></a> 
                                                                  
                                                </div>
                                            </div>
                                             <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                                 
                                                  <a><h5><i class="fa fa"></i>Comentarios</h5></a>                      
                                                </div>
                                            </div>
                                            <div class="user-img pull-right">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 40px; height: 40px" />
                                            </div>
                                            <h5 class="pull-right"><strong class="c-black">José herrera </strong></h5>  
                                    </div>

                                    <div class="jumbotron">
                                            <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i>
                                            </h4>
                                            <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                               <a><h5><i class="fa fa-corazon"></i>Like</h5></a> 
                                                                  
                                                </div>
                                            </div>
                                             <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                                 
                                                  <a><h5><i class="fa fa"></i>Comentarios</h5></a>                      
                                                </div>
                                            </div>
                                            <div class="user-img pull-right">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 40px; height: 40px" />
                                            </div>
                                            <h5 class="pull-right"><strong class="c-black">José herrera </strong></h5>  
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <div class="jumbotron">
                                            <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i>
                                            </h4>
                                            <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                               <a><h5><i class="fa fa-corazon"></i>Like</h5></a> 
                                                                  
                                                </div>
                                            </div>
                                             <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                                 
                                                  <a><h5><i class="fa fa"></i>Comentarios</h5></a>                      
                                                </div>
                                            </div>
                                            <div class="user-img pull-right">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 40px; height: 40px" />
                                            </div>
                                            <h5 class="pull-right"><strong class="c-black">Jorhan herrera </strong></h5>
                                    </div>

                                    <div class="jumbotron">
                                            <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i>
                                            </h4>
                                            <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                               <a><h5><i class="fa fa-corazon"></i>Like</h5></a> 
                                                                  
                                                </div>
                                            </div>
                                             <div class="col-lg-4 col-4 col-sm-4">
                                                <div class="blog_commentbox">
                                                 
                                                  <a><h5><i class="fa fa"></i>Comentarios</h5></a>                      
                                                </div>
                                            </div>
                                            <div class="user-img pull-right">
                                                <img src="{% static 'img/user2.png' %}" alt="" class="img-u image-responsive" 
                                                style="border-radius: 50%; width: 40px; height: 40px" />
                                            </div>
                                            <h5 class="pull-right"><strong class="c-black">Jorhan herrera </strong></h5>
                                    </div>
                                
                                </div>
                                </div>
    
                    </div>

{% endblock %}