                <div class="row">
                    <div class="col-md-4">
                        <div class="main-box mb-dull">
                            <a href="http://localhost:8000/canales/">
                                <i class="fa fa-globe fa-5x"></i>
                                <h5>Explorar Canales</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-red">
                            <a href="http://localhost:8000/areadeinteres/">
                                <i class="fa fa-check fa-5x"></i>
                                <h5>Áreas de Interés</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="main-box mb-pink">
                            <a href="#">
                                <i class="fa fa-book fa-5x"></i>
                                <h5>Áreas de Conocimientos</h5>
                            </a>
                        </div>
                    </div>

                </div>