{% load staticfiles %}   
    <div id="wrapper">
       
            <div class="panel panel-primary">
                    <div class="panel-heading">
                       Datos del Usuario
                    </div>
                    <div class="panel-body">
                        
                        <div class="panel">
                            <img src="{% static 'img/user.png' %}" class="img-thumbnail" />

                                <label><h4>Jorhan Herrera</h4></label>
                            <br />
                           
                        </div>       
                        <div class="form-group">
                                <label>Edad: 24 años</label><br>
                                <label>Correo: jorhan2510@gmail.com</label><br>
                                <label>Profesión: Ing. Informática</label><br>
                                <label>Dirección: Barquisimeto</label><br>
                        </div>
                       
                        <button type="submit" class="btn btn-primary">Editar </button>

                       
                    </div>
            </div>
       
       
    </div>