{% load staticfiles %}
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'js/knockout-3.1.0.js' %}"></script>
    <script src="{% static 'js/jquery.metisMenu.js' %}"></script>
       <!-- CUSTOM SCRIPTS -->
 	<script src="{% static 'js/custom.js' %}"></script>
 
    
    <script src="{% static 'js/knockout-3.1.0/knockout.mapping-latest.js' %}"></script>
    <script src="{% static 'js/knockout-3.1.0/custom-bindings.js' %}"></script>
    <script src="{% static 'js/knockout-3.1.0/bootstrap-bindings.js' %}"></script>
    <script src="{% static 'js/knockout-3.1.0/knockstrap.js' %}"></script>
    
    <script src="{% static 'js/bootstrap-fileupload.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/ajax.csrftoken.js' %}"></script>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/consumir/inicioSesion.js' %}"></script>
  
    <!-- CUSTOM SCRIPTS -->
   

    